#calories {
	width: 20%;
}
#calories-range .ui-slider-handle {
  outline: 0;
  background: #F17300;
  border-radius: 30%;
  top: -.5em;
}
#calories-range .ui-slider-range {
  background: #3E7CB1;
}
#calories-range.ui-slider-horizontal {
  top: 0em;
  left: 10px;
  height: 5px;
  width: 90%;
  border: none;
  background: white;
}


#carbohydrates {
  width: 20%;
}
#carbohydrates-range .ui-slider-handle {
  outline: 0;
  background: #F17300;
  border-radius: 30%;
  top: -.5em;
}
#carbohydrates-range .ui-slider-range {
  background: #3E7CB1;
}
#carbohydrates-range.ui-slider-horizontal {
  top: 0em;
  left: 10px;
  height: 5px;
  width: 90%;
  border: none;
  background: white;
}


#protein {
  width: 20%;
}
#protein-range .ui-slider-handle {
  outline: 0;
  background: #F17300;
  border-radius: 30%;
  top: -.5em;
}
#protein-range .ui-slider-range {
  background: #3E7CB1;
}
#protein-range.ui-slider-horizontal {
  top: 0em;
  left: 10px;
  height: 5px;
  width: 90%;
  border: none;
  background: white;
}


#sodium {
  width: 20%;
}
#sodium-range .ui-slider-handle {
  outline: 0;
  background: #F17300;
  border-radius: 30%;
  top: -.5em;
}
#sodium-range .ui-slider-range {
  background: #3E7CB1;
}
#sodium-range.ui-slider-horizontal {
  top: 0em;
  left: 10px;
  height: 5px;
  width: 90%;
  border: none;
  background: white;
}