<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <meta charset="utf-8">
  <title>RENDER</title>
  
  <script type="text/javascript" src="static/js/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="static/js/chosen.jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

<!--CSS Link---------------------------------->
  <link rel="stylesheet" href="static/css/header.css">
  <link rel="stylesheet" href="static/css/container.css">
  <link rel="stylesheet" href="static/css/chosen.min.css">
  <link rel="stylesheet" href="static/css/sliders.css">
  <link rel="stylesheet" href="static/css/jquery-ui.css">
<!-------------------------------------------->
</head>
<!--COLOR PALETTE------------------------------
https://coolors.co/054a91-3e7cb1-81a4cd-dbe4ee-f17300
---------------------------------------------->
<body>
<!--HEADER------------------------------------>
<div class="header">
  <span class="slogan">Recipes made simple.</span>
  <a href="/" class="logo">RENDER</a>

  <div id="header-right" class="header-right">
  <button onClick="window.location.href = '/';">Reset</button>
<!--     <span style="color: white; font-size: 10pt"><i>Primary Filter:</i></span>
    <select style="margin-top: 15px; margin-right: 50px; width: 200px">
    	<option value="ingredientFilter">Ingredient List</option>
    	<option value="nutritionFilter">Nutrition Targets</option>
    </select> -->
  </div>

</div>
<!-------------------------------------------->

{% if error %}

{{ error }}
<p></p>
<button onClick="window.location.href = '/';">Reset</button>
{% endif %}
<div id="page" class="float-container">
<!--LEFT-SIDE MENU---------------------------->
{% if not recipes and not error %}
  <div id="container-left" class="container">

  	<form action="{{ url_for('render') }}" method="post" id="ingredientInputForm" enctype="multipart/form-data">

  	<h4>Ingredients List</h4>
  	<label class="descr">What ingredients do you have available?</label>
	<select id="mselect" name="ingredient_input_text" data-placeholder="Begin typing an ingredient..." multiple class="chosen-select" style="width: 384px"></select>

	<p></p>

	<h4>Exclusions</h4>
	<label class="descr">Are there any ingredients you want to avoid?</label>
	<select id="mselect2" name="exclusions_input_text" data-placeholder="Begin typing an ingredient..." multiple class="chosen-select" style="width: 384px"></select>

	<p></p>

	<h4>Time Constraint</h4>
	<label class="descr">What's the most amount of time you want to spend cooking?</label>
	<input name="time_input_text" type="number" min="1" placeholder="(minutes)">

	<!--INGREDIENT LIST FOR SEARCH BAR------------>
	<script type="text/javascript">
	function insertIngredientInList(data) {
	  var list = $('.chosen-select');
	  var newOption = 
	      $('<option></option>')
	      .attr('value', data.ingredient)
	      .text(data.ingredient);

	  list.append(newOption);

	}

	var CSV_PATH = './static/data/test.csv';


	$.get(CSV_PATH, function (data) {
	  var lines = data.split("\n");

	  lines.shift();

	  var ingredients = lines.map(function (line) {
	    var fields = line.split(",");
	    return {
	      count: fields[1], 
	      ingredient: fields[0]
	    };
	  });
	  
	  ingredients.forEach(insertIngredientInList);

	});

	$(document).ready(function() {
	  $(".chosen-select").chosen();
	});

	</script>
	<!-------------------------------------------->

	<!-------------------------------------------->

	<div class="slidecontainer">

    <h4>Nutritional Targets</h4>
	<label class="descr">What are your target nutritional ranges?</label>	
	  <!--Calories Range Slider--------------------->
      <script>
	  $( function() {
	    $( "#calories-range" ).slider({
	      range: true,
	      min: 0,
	      max: 2000,
	      values: [ 0, 2000 ],
	      slide: function( event, ui ) {
	        $( "#calories" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
	      }
	    });
	    $( "#calories" ).val( $( "#calories-range" ).slider( "values", 0 ) +
	      " - " + $( "#calories-range" ).slider( "values", 1 ) );
	  } );
	  </script>
	  <p></p>
	  <label for="calories">Calories:</label>
	  <input name="calories" type="text" id="calories" readonly style="border: 0; color: #F17300; font-weight:bold; background-color: #DBE4EE">
	  <div id="calories-range"></div>
	  <!-------------------------------------------->

	  <!--Carbohydrates Range Slider---------------->
      <script>
	  $( function() {
	    $( "#carbohydrates-range" ).slider({
	      range: true,
	      min: 0,
	      max: 275,
	      values: [ 0, 275 ],
	      slide: function( event, ui ) {
	        $( "#carbohydrates" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
	      }
	    });
	    $( "#carbohydrates" ).val( $( "#carbohydrates-range" ).slider( "values", 0 ) +
	      " - " + $( "#carbohydrates-range" ).slider( "values", 1 ) );
	  } );
	  </script>
	  <br>
	  <label for="carbohydrates">Carbohydrates (mg):</label>
	  <input name="carbs" type="text" id="carbohydrates" readonly style="border: 0; color: #F17300; font-weight:bold; background-color: #DBE4EE">
	  <div id="carbohydrates-range"></div>
	  <!-------------------------------------------->

	  <!--Protein Range Slider---------------->
      <script>
	  $( function() {
	    $( "#protein-range" ).slider({
	      range: true,
	      min: 0,
	      max: 100,
	      values: [ 0, 100 ],
	      slide: function( event, ui ) {
	        $( "#protein" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
	      }
	    });
	    $( "#protein" ).val( $( "#protein-range" ).slider( "values", 0 ) +
	      " - " + $( "#protein-range" ).slider( "values", 1 ) );
	  } );
	  </script>
	  <br>
	  <label for="protein">Protein (g):</label>
	  <input name="protein" type="text" id="protein" readonly style="border: 0; color: #F17300; font-weight:bold; background-color: #DBE4EE">
	  <div id="protein-range"></div>
	  <!-------------------------------------------->

	  <!--Sodium Range Slider---------------->
      <script>
	  $( function() {
	    $( "#sodium-range" ).slider({
	      range: true,
	      min: 0,
	      max: 2300,
	      values: [ 0, 2300 ],
	      slide: function( event, ui ) {
	        $( "#sodium" ).val( ui.values[ 0 ] + " - " + ui.values[ 1 ] );
	      }
	    });
	    $( "#sodium" ).val( $( "#sodium-range" ).slider( "values", 0 ) +
	      " - " + $( "#sodium-range" ).slider( "values", 1 ) );
	  } );
	  </script>
	  <br>
	  <label for="sodium">Sodium (mg):</label>
	  <input name="sodium" type="text" id="sodium" readonly style="border: 0; color: #F17300; font-weight:bold; background-color: #DBE4EE">
	  <div id="sodium-range"></div>
	  <!-------------------------------------------->
    </div>

    <p></p>

	<h4>Weights</h4>
	<label class="descr">How important (on a scale from 0 to 1.0 where 0 is least and 1 is most) is it to you that...</label>
	<label class="descr">The recipe has a small number of ingredients:</label>
	<input name="ingredient_number_weight" type="number" min="0" max="1" step="0.1" placeholder="0.5">
	<label class="descr">The recipe doesn't take long to cook:</label>
	<input name="time_weight" type="number" min="0" max="1" step="0.1" placeholder="0.5">

<!-- 	<label class="descr">Nutrition</label>
	<input name="nutrition_weight" type="number" min="0" max="1" step="0.1" placeholder="1.0"> -->

<!-- 	<input name="priority" type="radio" id="ingredient_priority" value="ingredients">
	<label for="ingredient_priority">Ingredients</label>
	<input name="priority" type="radio" id="time_priority" value="time">
	<label for="time_priority">Time</label>
	<input name="priority" type="radio" id="nutrition_priority" value="nutrition">
	<label for="nutrition_priority">Nutrition</label>
	<input name="priority" type="radio" id="no_priority" value="none">
	<label for="no_priority">No Priority</label> -->

	<p></p>

	<h4>Number of Recipes</h4>
	<label class="descr">How many recipes would you like to see?</label>
	<input name="num_rec" type="number" min="1" max="100" placeholder="1">

	<p></p>

	<input id="ingredientInput" type="submit" value="Submit" placeholder="This will take 1 - 2 mins. to run.">
	<p>(Takes 1-2 mins. to run)</p>	
	</form>

	<p></p>

	<button onClick="window.location.href = '/';">Reset</button>
	

  </div>
  {% endif %}
<!-------------------------------------------->   



<!--DISPLAY AREA------------------------------>
  <div id="container-right" class="container-fluid">  
	{% if recipes %}
    	<h1>Your recipes:</h1>
    	{% for k, v in recipes.items() %}
			<h2>{{ k }}</h2>
			<h3>Ingredients: {{ v.ingredients }}</h3>
			<h3>Steps: {{ v.steps }}</h3>
			<h3>Total Time: {{ v.total_time }}</h3>
			<h3>Calories: {{ v.calories }}</h3>
			<h3>Carbohydrates (mg): {{ v.carbs }}</h3>
			<h3>Protein (g): {{ v.protein }}</h3>
			<h3>Sodium (mg): {{ v.sodium }}</h3>
    	{% endfor %}
	<button onClick="window.location.href = '/';">Reset</button>
	{% else %}
    	<img src="{{url_for('static', filename='render.jpg')}}" align="middle" />
	{% endif %}
  </div>
<!-------------------------------------------->
</div>


</body>
</html>